modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 4200

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 18150
externalPort = 3001

[[ports]]
localPort = 25872
externalPort = 3000

[userenv]

[userenv.development]

[userenv.shared]
TWILIO_DEFAULT_SENDER = "whatsapp:+15558085030"
RESPOND_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjgwMTIsInNwYWNlSWQiOjQxODIyMiwib3JnSWQiOjQxMTM1MSwidHlwZSI6ImFwaSIsImlhdCI6MTc3ODg3NjUxNn0.fjPE00w10yviwgDi_vn7cshmZiCq2_RTE5rFZInp5vQ"
WEBHOOK_API_KEY = "b066994544c7f2e58f0a499fe6aa83b64c558eda72a16435d1817e310fea49af"
DASH_USER = "tnsarun19911"
DASH_PASS = "@dmin123"

[nix]
channel = "stable-25_05"
